
<nav class="wrap-houses">
      <div class="container py-2">
        <div class="row">
          <a href="#" class="logo">
            <img src="/images/logo-airbnb.png" alt="airbnb logo" class="logo" />
          </a>

          <div class="col text-end">
            <a href="" type="button" class="btn btn-outline-secondary">
              Log out
            </a>
          </div>
        </div>
        <div class="alert alert-danger my-3">
          Email or Password is wrong
        </div>
      </div>
    </nav>
{{message}}
{{error.stack}}
