			<!-- Top Nav -->
					{{> nav loggedUser = loggedUser}}
			<!-- filters-->

    <!-- end of nav bar -->
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h3 class="mt-3 pb-3 border-bottom">Profile</h3>
          <form>
            <div><span>Name</span></div>
            <div class="input-group mb-3">
              <input name="name" type="text" class="form-control" />
            </div>
            <div><span>Email</span></div>
            <div class="input-group mb-3">
              <input name="email" type="text" class="form-control" />
            </div>
            <div class="">
              <span>Profile Picture</span>
            </div>
            <div class="">
              <span>
                <img
                  src="https://randomuser.me/api/portraits/men/11.jpg"
                  class="avatar mb-1"
              /></span>
            </div>
            <div class="input-group mb-3">
              <input name="profilepic" type="text" class="form-control" />
            </div>
          </form>

          <div>
            <button class="btn btn-success my-3">
              Save changes
            </button>
          </div>
        </div>
        <!-- right col -->
        <div class="col-7 offset-1 p-0">
          <h3 class="mt-3 pb-3 border-bottom">My Listings</h3>
          <form>
            <div>
              <a href="" class="btn btn-success my-3">
                List a house
              </a>
            </div>
            <!-- cards -->
            <div class="card w-100 mb-5">
              <div class="row">
                <div class="col-4">
                  <img
                    src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="col-8">
                  <div class="card-body px-0">
                    <h5 class="card-title">Luxary Villa</h5>
                    <div class="">
                      <small>4 Rooms &bull; $450 a night</small>
                    </div>
                    <p class="card-text">
                      Information about house.
                    </p>
                    <a
                      href="#"
                      name="edit"
                      class="btn btn-outline-secondary btn-lg btn-sm"
                      >Edit</a
                    >
                    <a
                      href="#"
                      name="View"
                      class="btn btn-outline-success btn-lg btn-sm"
                      >View</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="card w-100 mb-5">
              <div class="row">
                <div class="col-4">
                  <img
                    src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="col-8">
                  <div class="card-body px-0">
                    <h5 class="card-title">Luxary Villa</h5>
                    <div class="">
                      <small>4 Rooms &bull; $450 a night</small>
                    </div>
                    <p class="card-text">
                      Information about house.
                    </p>
                    <a
                      href="#"
                      name="edit"
                      class="btn btn-outline-secondary btn-lg btn-sm"
                      >Edit</a
                    >
                    <a
                      href="#"
                      name="view"
                      class="btn btn-outline-success btn-lg btn-sm"
                      >View</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
