
<div class="login">
		<div class="row justify-content-center align-items-center">
			<div class="col-4">
				<div class="card" style="width: 30rem;">
					<div class="card-body">
						<div class="text-center">
							<img
								src="images/logo-airbnb.png"
								alt="airbnb logo"
								class="logo-auth m-5"
							/>
						</div>

						<form>
							<div><span>Your Full Name</span></div>
							<div class="input-group mb-3">
								<input type="text" class="form-control" />
							</div>
							<div><span>Profile Picture</span></div>
							<div class="input-group mb-3">
								<input
									type="text"
									class="form-control"
									placeholder="http://..."
								/>
							</div>

							<div><span>Email</span></div>
							<div class="input-group mb-3">
								<input type="text" class="form-control" />
							</div>
							<div><span>Password</span></div>
							<div class="input-group mb-3">
								<input type="text" class="form-control" />
							</div>
							<div>
								<button class="btn btn-success my-3">
									Login
								</button>
							</div>
							<div>
								<span
									>Have an account? <a href="#" class="link-color">Log In</a>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
