<nav class="wrap-houses">
      <div class="container py-2">
        <div class="row">
          <div class="col">
            <a href="#" class="logo-create">
              <img
                src="images/logo-airbnb.png"
                alt="airbnb logo"
                class="logo-create"
              />
            </a>
          </div>

          <div class="col text-end">
            <a href="" name="photo" class="btn btn-outline-secondary">
              <img
                src="https://randomuser.me/api/portraits/men/11.jpg"
                alt=""
                class="user-image"
              />User name
            </a>

            <a href="" type="button" class="btn btn-outline-secondary">
              Log out
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <form>
          <h2>List a House</h2>
          <span>Short title</span>
          <div class="input-group mb-3">
            <input name="title" type="text" class="form-control" />
          </div>
          <span>Description</span>
          <div class="input-group mb-3">
            <textarea name="description" class="form-control"></textarea>
          </div>
          <span>Number of rooms</span>
          <div class="input-group mb-3">
            <input type="number" name="rooms" class="form-control" />
          </div>
          <div>
            <span>Location</span>
            <select name="Location" class="form-select mb-3">
              <option selected>Koh Samui</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <span>Price (per night $)</span>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>

              <input name="price" type="number" class="form-control" />
            </div>
            <span>Add Photos (up to 9)</span>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div class="input-group mb-1">
              <input
                type="url"
                name="photo"
                class="form-control"
                placeholder="http://..."
              />
            </div>
            <div>
              <button class="btn btn-success mt-3">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
