<!-- Top Nav -->
		{{> nav loggedUser =  loggedUser}}
<!-- filters-->

	 <div class="container">
		 <div class="row">
			 <form>
				 <h2>Edit a House</h2>
				 <span>Short title</span>
				 <div class="input-group mb-3">
					 <input name="title" type="text" class="form-control" />
				 </div>
				 <span>Description</span>
				 <div class="input-group mb-3">
					 <textarea name="description" class="form-control"></textarea>
				 </div>
				 <span>Number of rooms</span>
				 <div class="input-group mb-3">
					 <input type="number" name="rooms" class="form-control" />
				 </div>
				 <div>
					 <span>Location</span>
					 <select name="Location" class="form-select mb-3">
						 <option selected>Koh Samui</option>
						 <option value="1">Koh Phangan</option>
						 <option value="2">Bali</option>

					 </select>
					 <span>Price (per night $)</span>
					 <div class="input-group mb-3">
						 <span class="input-group-text">$</span>

						 <input name="price" type="number" class="form-control" />
					 </div>
					 <span>Add Photos (up to 9)</span>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div class="input-group mb-1">
						 <input
							 type="url"
							 name="photo"
							 class="form-control"
							 placeholder="http://..."
						 />
					 </div>
					 <div>
						 <button class="btn btn-success mt-3">Save Changes</button>
					 </div>
				 </div>
			 </form>
			 <div class="">
				 <button class="btn btn-danger mt-3">Delete House</button>
			 </div>
		 </div>
	 </div>
