
    <!-- Top Nav -->

    <nav class="wrap-houses">
      <div class="container py-2">
        <div class="row">

					<a href="#" class="logo">
						<img src="/images/logo-airbnb.png" alt="airbnb logo" class="logo" />
					</a>
          <div class="col text-end">
            <a href="" type="button" class="btn btn-outline-secondary">
              <img
                src="https://randomuser.me/api/portraits/men/11.jpg"
                alt=""
                class="user-image"
              />User name
            </a>

            <a href="" type="button" class="btn btn-outline-secondary">
              Log out
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- filters-->
    <div class="bg-light p-3">
      <form>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <label class="input-group-text"
                  ><i class="fa-solid fa-location-dot"></i
                ></label>
                <select name="location" class="form-select">
                  5
                  <option selected>Any Location</option>
                  <option value="1">Koh Phangan</option>
                  <option value="2">Koh Samui</option>
                  <option value="3">Bali</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="input-group">
                <label class="input-group-text"
                  ><i class="fa-sharp fa-solid fa-house"></i
                ></label>
                <select name="rooms" class="form-select">
                  <option selected>Any Rooms</option>
                  <option value="1">1 room</option>
                  <option value="2">2 rooms</option>
                  <option value="3">3 rooms</option>
                  <option value="1">4 rooms</option>
                  <option value="2">5 rooms</option>
                  <option value="3">6 rooms</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input
                  name="price"
                  type="number"
                  placeholder="max price"
                  class="form-control"
                  aria-label="Dollar amount (with dot and two decimal places)"
                />
              </div>
            </div>

            <div class="col">
              <div class="input-group">
                <label class="input-group-text">
                  <i class="fa-solid fa-sort"></i
                ></label>
                <select name="low-to-high" class="form-select">
                  <option selected>Price (low to high)</option>
                  <option value="1">Price (high to low)</option>
                </select>
              </div>
            </div>

            <div class="col">
              <input
                name="house-name"
                class="form-control"
                placeholder="House name..."
              />
              <datalist> </datalist>
            </div>
            <div class="col">
              <button class="btn btn-success">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- house cards -->

    <!-- house -->
    <div class="container py-4">
      <div class="row row-cols-4">
        <div class="col p-3">
          <div class="card">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

"
              class="card-img-top"
              alt="..."
            />

            <div class="card-body">
              <small> Koh Samui &bull; 4 rooms</small>
              <h5 class="card-title">Luxury Villa in Chaweng</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a
              ><small>3 reviews</small><small> $350/night</small>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>

        <!-- house 2 -->
        <div class="col p-3">
          <div class="card">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png

"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <small> Koh Samui &bull; 3 rooms</small>

              <h5>Private Villa Lotus 1</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a>
              <small>1 review</small><small> $150/night</small
              ><a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <!-- house 3 -->
        <div class="col p-3">
          <div class="card">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2003/house_03_01.png

"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <small> Bali &bull; 4 rooms</small>

              <h5>Seminyak KuDeTa Beach</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a>
              <small>2 reviews</small><small> $120/night</small
              ><a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <!-- house 4 -->
        <div class="col p-3">
          <div class="card">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2004/house_04_01.png

"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <small> Bali &bull; 4 rooms</small>

              <h5>5 Bed Villa Canggu</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a>
              <small>1 review</small><small> $250/night</small
              ><a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>

        <!-- house 5 -->
        <!-- <div class="container"> -->
        <!-- <div class="row"> -->
        <div class="col p-3">
          <div class="card">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2005/house_05_01.png

"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <small>Koh Phangan &bull; 4 rooms</small>

              <h5>Archie Village House</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a>
              <small>1 review</small><small> $80/night</small
              ><a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>

        <!-- house 6 -->

        <div class="col p-3">
          <div class="card">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2006/house_06_01.png

"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <small> Koh Phangan &bull; 3 rooms</small>

              <h5>Luxury 6 Beds Villa</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a>
              <small>0 review</small><small> $150/night</small
              ><a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>

        <div class="col p-3">
          <div class="card">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2007/house_07_01.png

"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <!-- <a href="#" class="stretched-link stretch"> -->
              <small> Koh Phangan &bull; 4 rooms</small>

              <h5>Narivana Koh Phangan</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a>
              <small>0 reviews</small><small> $100/night</small
              ><a href="#" class="stretched-link"></a>
              <!-- </a> -->
            </div>
          </div>
        </div>
        <div class="col p-3">
          <div class="card">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2007/house_07_01.png

	"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <small> Koh Phangan &bull; 4 rooms</small>

              <h5>Narivana Koh Phangan</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a>
              <small>0 reviews</small><small> $100/night</small
              ><a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
